[submodule "vim/pack/vendor/start/tabular"]
	path = vim/pack/vendor/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "dwm/dwm-6.2"]
	path = dwm/dwm-6.2
	url = git@github.com:cvanloo/dwm.git
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
